*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nar li a
{
    color: #fff !important;
    font-weight: 600;
    float:right;
    text-align: left;
}
.fa-bars
{
    color:#fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline:none !important;
}
.nav link
{
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
}

/*---------Team Members---------*/
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#555;
}
h1
{
    text-align:center;
    color:#555 !important;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
   opacity:1;
    display: block;
    position: relative;
}
.profile-pic
{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
 filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important; 
}
.profile-pic h2
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;   
}
#team.fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background:#fff;
    padding:4px;
    border-radius: 50%;
}
.img-box
{
    padding: 15px 0;
    position: absolute;
    z-index:2;
    bottom:0;
    left:50%
    transform: translatex(-50%);
    opacity:0;
}


/*-----------------------ABout*/
#about 
{
    font-size: 25px;
    padding-top:50px;
    padding-bottom: 50px;
    color: #555;
    text-align:center;
}

#about btn
{
    font-size: 50px;
    margin-top:20px;
    margin-bottom: 30px;
    text-align:center;
}
.about-content
{
    padding-top: 20px;
    text-align:center;
}
/*---Get in Touch-------------------------------*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#777;
}
.contactform
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
:: placeholder
{
    color:#999 !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

/*-------Our Sponsor----------------*/
#sponsor 
{
    font-size: 25px;
    padding-top:50px;
    padding-bottom: 50px;
    color: #555;
    text-align:center;
}
#sponsor btn
{
    font-size: 50px;
    margin-top:20px;
    margin-bottom: 30px;
    text-align:center;
}
.sponsor-content
{
    padding-top: 20px;
    text-align:center;
}
/*-------------promo---*/
#promo
{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/wood.jpg);
    background: cover;
    background-position:center;
    color:#fff;
    background-position: center;
    color:#fff;
    background-attachment:fixed;
    text-align:center;
    padding:100px;
    font-family: sans-serif;
    font-size:25px;
}







